table {
	width: 50%;
	margin: 50px auto;
}

table,
td,
th {
	border: solid 1px black;
	border: black;
}

td,
th {
	padding: 10px
}

h1 {
	color: rgb(126, 166, 250);
	width: 50%;
	margin-left: 43%;
	margin-right: calc(50% + 60px);
}

.btn {
	background-color: rgb(126, 166, 250);
	color: white;
	text-align: center;
	vertical-align: middle;
	transition: background-color 0.3s;
	border-radius: 3px;
}

.btn:hover {
	background-color: rgb(113, 145, 212);
}

#top-div {
	width: 50%;
	text-align: center;
	margin: auto;
	padding: 10px;
}

tr:hover {
	background-color: #e7e6e7;
}

#wishlist-form {
	text-align: center;
	margin-top: 50px;
}

#share {
	margin-top: 10px;
}